@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

h1 {
  font-family: Oswald;
  text-transform: uppercase;
  color: #555555;
}

#logo {
  float: left;
  font-size: 180%;
  margin-left: 18px;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.1)

}

#logo, #menu {
    line-height: 75px;
}

#menu li {
  display: inline;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

.page-content {
    height: 100%;
    width: 100%;
    background-color: red;
}